/* Footer */
footer
{
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.foot1
{
    /* border-bottom: 2px solid white; */
    /* background-color: black;
    color: white; */
    font-size: 40px;
    display: flex;
    padding: 30px;
    height: auto;
    margin-top: 80px;
    font-size: large;
}
.foot1 i
{
    font-size: larger;
}
.footheading
{
    font-size: large;
}
.logo
{
    flex: 0.5;
    /* border: 2px solid black ; */
    float: left;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 40px;
    padding-left: 20px;
    margin-right: 20px;
    font-size: larger;
}
.quick
{
    flex: 1;
    /* border: 2px solid black ; */
    float: left;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    padding-left: 20px;
    margin-right: 20px;
    font-size: large;
}
.quick ul
{
    list-style-type: none;
}
.quick ul li a
{
    text-decoration: none;
    color: white;
}
.quick ul li a:hover
{
    color: yellow;
}
.social
{
    /* border: 2px solid black; */
    flex: 1;
    float: left;
    width: 100%;
    height: 200px;
    padding-top: 10px;
    padding-left: 20px;
    margin-right: 20px;
    font-size: larger;
}
.findus
{
    text-align: center;
    font-size: large;
}
.sociallogo
{
    display: flex;
    font-size: large;
}
.sociallogo a
{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.sociallogo a:hover
{
    color: yellow;
}
.fb
{
    flex: 1;
    padding-right:25px;
}
.insta
{
    flex: 2;
    padding-right:25px;
}
.yt
{
    flex: 1;
    padding-right:25px;
}

.fa
{
    font-size: larger;
}

.loc
{
    flex: 1.5;
    float: right;
    /* border: 2px solid black; */
    width: 100%;
    height: 200px;
    padding: 10px 10px;
    margin-left: 20px;
}

.foot2
{
    height: auto;
    text-align: center;
}
.foot2 div
{
    font-size: large;
    padding: 40px 430px ;
}
