#success-box-1{

    font-weight: 500;
    color: rgb(12, 193, 12);
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#fail-box-1{
    
    font-weight: 500;
    color: rgb(254, 54, 54);
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
